/*Documento  design home lembre-se que aqui você chamou a class banner para aderir ao cabeçalho.*/
/*BANNER*/
.banner{

	background: url(../img/banner/sofa02cel.jpg) no-repeat fixed center center;
}
.title{
	width: 100%
}

.banner .title h2 {

	font-size: 1.5em;
	color: #000;
	font-weight: bold;
}

.banner .title h3 {

	font-size: 0.8em;
	color: #000;
}
/*história*/
.historia{
	border-top: 2px solid #ffa500;
	border-bottom: 2px solid #ffa500;
}

.blocoH{
	width: 100%;
	text-align: left;
	opacity: 0.8;
	border-top: 2px solid #ffa500;
	border-bottom: 2px solid #ffa500;
}
.blocoH .texto{

	padding: 10%;
}

.blocoH .texto h4{

	font-size: 1.5em;
	color:#000;
	margin-top: 1%;
}
.blocoH .texto p{

	font-size: 0.9em;
	color:#000;
	margin-top: 4%;
	line-height: 25px;
}
.texto h2{

	font-size:2em;
	color:#000;
	font-family: 'Bad Script', cursive;
	text-shadow: 0 0 0.2em #ffa500, 0 0 0.2em #ffa500;
}
/*Fim da história inferno*/

/*Banner final*/
.banner2{
	/*1024p X 576px*/

	margin-bottom: 0;
	background: url(../img/banner/sofa02cel.jpg) no-repeat fixed center;
}

.bannerBottom{

	width: 100%;
	height: 200px;
}

/*Responsividade*/
/************************************************************Celular da xuxa***********************************************/
@media screen and (min-width: 480px){

}
/********************************************************** Tablet da xuxa ************************************************/
@media screen and (min-width: 768px){


.banner .title h2 {

	font-size: 2em;
	color: #000;
	font-weight: 700;
}

.banner .title h3 {

	font-size: 1em;
	color: #000;
}

.title{

	width: 100%;
	float:left;
	text-align: center;
}

.banner{
	background: url(../img/banner/sofa5.jpg) no-repeat fixed center center;
}

.blocoH .texto{

	padding: 10%;
}

.blocoH .texto h4{

	font-size: 1.8em;
	color:#000;
	margin-top: 0%;
}
.blocoH .texto p{

	font-size: 1.2em;
	color:#000;
	margin-top: 2.5%;
	line-height: 25px;
}
.texto h2{

	font-size:2em;
	color:#000;
	font-family: 'Bad Script', cursive;
	text-shadow: 0 0 0.2em #ffa500, 0 0 0.2em #ffa500;
}
.banner2{
	/*1024p X 576px*/

	margin-bottom: 0;
	background: url(../img/banner/sofa7.jpg) no-repeat fixed center;
}

}

/************************************************************laptop da xuxa***********************************************/
@media screen and (min-width: 960px){

.banner{

	background: url(../img/banner/sofa02.jpg) no-repeat fixed center center ;
}
.banner .title h2 {

	font-size: 3.5em;
	color: #000;
	font-weight: 700;
}

.banner .title h3 {

	font-size: 1.5em;
	color: #000;
}

.title{

	width: 80%;
	float:left;
	text-align: left;
}

}
/*************************************************Pc da xuxa***************************************************************/
@media screen and (min-width: 1024px){

}
